html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#chat-window {
	display: block;
	width: 500px; height: 300px;
	background-color: white;
	overflow: auto;
	margin-bottom: 5px;
}

#chat-window div {
	margin-top: 3px;
}

#new-message {
	float: left;
	width: 400px;
	margin-right: 5px;
}

#submit-message {
	color: white;
	font-size: 10px;
	text-align: center;
	margin-top: 1px;
	background-color: SlateGray;
	display: inline-block;
	width: 90px;
}

#submit-message:hover {
	background-color: LightSlateGray;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

.timestamp {
	font-size: .8em;
	font-weight: bold;
}


